#
# Copyright (c) 2021 SAKURA internet Inc.
#
# SPDX-License-Identifier: MIT
#

menu "SIPF standard client"

config SIPF_APP_TYPE
	int "Application type"

config SIPF_APP_VER_MAJOR
	int "Application Major version" 

config SIPF_APP_VER_MINOR
	int "Application Minor version" 

config SIPF_APP_VER_RELEASE
	int "Application Release version" 

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

module = FOTA
module-str = Firmware over the Air
source "subsys/logging/Kconfig.template.log_config"

module = GNSS
module-str = GNSS
source "subsys/logging/Kconfig.template.log_config"
