#
# Copyright (c) 2021 SAKURA internet Inc.
#
# SPDX-License-Identifier: MIT
#

menuconfig SIPF 
	bool "SIPF client library"
	default n

config SIPF_AUTH_HOST
	string "SIPF AUTH host name."
config SIPF_AUTH_PATH
	string "SIPF AUTH endpoint."
config SIPF_AUTH_DISABLE_SSL
	bool "Disable SSL for SIPF AUTH endpoint."

config SIPF_CONNECTOR_HTTP_HOST
	string "SIPF CONNECTOR HTTP host name."
config SIPF_CONNECTOR_PATH
	string "SIPF CONNECTOR HTTP endpoint."
config SIPF_CONNECTOR_DISABLE_SSL
	bool "Disable SSL for SIPF CONNECTOR HTTP endpoint."

module = SIPF
module-str = SIPF
source "subsys/logging/Kconfig.template.log_config"
